# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.shape

(4622, 5)

In [5]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [24]:
#c=chipo.groupby(by='item_name')['order_id','quantity'].sum().sort_values(by='quantity',ascending=False)

## 订购次数合计，以及订购数量合计！根据数量排序，取最多的5个
c=chipo.groupby('item_name')['order_id','quantity'].agg({'order_id':'count','quantity':'sum'}).sort_values(by='quantity',ascending=False)
c.head()

D:\01_software\miniconda3\envs\py3.7\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                     order_id  quantity
item_name
Chicken Bowl              726       761
Chicken Burrito           553       591
Chips and Guacamole       479       506
Steak Burrito             368       386
Canned Soft Drink         301       351

### Step 10. For the most-ordered item, how many items were ordered?

In [26]:
c.iloc[0,1]

761

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
## renam可以修改列名 agg函数是可以为不同的列设置不同的聚合函数
c=chipo.groupby('choice_description').agg({'order_id':'count','quantity':'sum'}).rename(columns={'order_id':'total_orders'}).sort_values(by='quantity',ascending=False)
c.head()

                                                    total_orders  quantity
choice_description
[Diet Coke]                                                  134       159
[Coke]                                                       123       143
[Sprite]                                                      77        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...            42        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...            33        42

### Step 12. How many items were orderd in total?

In [31]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [32]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [37]:
# 定义一个lambda函数
changeToFloat=lambda x:float(x[1:-1])
# 定义的函数应用到item_price 这列，也就是Series 
chipo=chipo.assign(price=lambda x:x.item_price.apply(changeToFloat))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

#### Step 13.c. Check the item price type

In [38]:
chipo.price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [40]:
# assign函数可以添加一列，使用lambda函数。比较灵活，这里的x指向DataFrame
chipo=chipo.assign(total_price=lambda x:np.round(x.quantity*x.price,2))
chipo.total_price.sum()

39237.02

### Step 15. How many orders were made in the period?

In [48]:
order_count=chipo.order_id.value_counts().count()
order_count

1834

### Step 16. What is the average revenue amount per order?

In [50]:
# Solution 1
#所有订单的合计金额/订单个数
np.round(chipo.total_price.sum()/order_count,2)

21.39

In [56]:
# Solution 2
#根据订单分组后的合计金额的平均值
chipo.groupby('order_id')['total_price'].sum().mean()

21.39423118865867

### Step 17. How many different items are sold?

In [60]:
## value_counts()是一种查看表格某列中有多少个不同值的快捷方法，并计算每个不同值有在该列中有多少重复值。
# value_counts()是Series拥有的方法，一般在DataFrame中使用时，需要指定对哪一列或行使用

chipo.item_name.value_counts().count()

50

In [61]:
chipo.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
price                    0
total_price              0
dtype: int64

In [65]:
chipo.isna()['choice_description'].sum()

1246